*.o
.lib
libcore.a
*.elf
*.bin
*.d
*.img
.*.swp
.build
*.txt.mk
serialout.txt
kicad/fp-info-cache
kicad/chessmate-backups
kicad/*.lck
kicad/chessmate.kicad_prl
kicad/DRC.rpt
kicad/ERC.rpt
kicad/*.ses
kicad/*.dsn
kicad/chessmate.rules
